.card {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  background-color: #3B3B3B;
  color: white;
}

.item-firstname,
.item-lastname,
.item-age,
.item-asso {
  font-size: 18px;
  margin: 10px 0;
}

.item-asso {
  margin-top: 19px;
  margin-left: 20px;
}

.mat-card-footer {
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-progress-bar {
  width: 80%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  margin-top: 15px;
}


.button-mail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

.button-mail:hover {
  background-color: #00ff7f;
}

.menu {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.button-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  margin-right: 15px;
  margin-left: 15px;
}

.button-menu:hover {
  background-color: #00ff7f;
}


.label-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.label-input {
  color: white;
}

input {
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  background-color: #fff;
}

.textarea-mail {
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  overflow: auto;
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
